In [ ]:
# dictionary
# -mutable data type
# -multiple values accept
# -indexing
# -ordered
# -duplicate members
# -no duplicate index

In [1]:
a = {}
type(a)

dict

In [2]:
# a = {<key>:<value>,<key>:<value>}
a = {"A":"Apple","B":"Ball"}
b = {0:"Apple",1:"Ball"}
print(a)
print(type(a))

{'A': 'Apple', 'B': 'Ball'}
<class 'dict'>

In [3]:
a = {"A":"Apple","a":"Apple"}
print(a)

{'A': 'Apple', 'a': 'Apple'}

In [9]:
a = {"A":"Apple","a":"Apple"}
a["A"]

'Apple'

In [10]:
a = {"A":"Apple","a":"Apple"}
a[0]                       #dictionary value cannot be call by using indexing like 0,1,2,....

KeyError: 0

In [11]:
a = {1:"apple",0:"Apple"}
print(a)

{1: 'apple', 0: 'Apple'}

In [14]:
# -mutable data type
# -no duplicate index
a = {"A":"Apple","A":"Ant"}
print(a)

{'A': 'Ant'}

In [17]:
# + , *          these operators cannot be used.
a = {"A":"Apple"} 
b = {"B":"Ball"}
print(a+b)

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [18]:
a = {"A":"Apple"} 
b = {"B":"Ball"}
print(a*2)

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [20]:
a = {"A":"Apple"} 
b = {"B":"Ball"}
a.update(b)
print(a)

{'A': 'Apple', 'B': 'Ball'}

In [21]:
a = {}
b = {"B":"Ball"}
a.update(b)
print(a)

{'B': 'Ball'}

In [23]:
a = {}
a["A"] = "Apple"
a["B"] = "Ball"
print(a)

{'A': 'Apple', 'B': 'Ball'}

In [24]:
a = {}                               #Index must be unique otherwise the result will be different than expect. 
a["A"] = "Apple"
a["A"] = "Ball"
print(a)

{'A': 'Ball'}

In [25]:
c = {}
n = int(input("Enter the value of n: "))
for i in range(n):
    a = input("Enter the value of a: ")
    c[i] = a
print(c)

Enter the value of n: 2
Enter the value of a: Apple
Enter the value of a: Ant
{0: 'Apple', 1: 'Ant'}

In [27]:
info = {}
n = int(input("Enter the value of n: "))
for i in range(n):
    name = input("Enter the name: ")
    phone = int(input("Enter the phone: "))
    info[name] = phone
print(info)

Enter the value of n: 2
Enter the name: Ram
Enter the phone: 985665665
Enter the name: Shyam
Enter the phone: 985662663
{'Ram': 985665665, 'Shyam': 985662663}

In [30]:
info = {'Ram': 985665665, 'Shyam': 985662663}
for i in info:
    print(i)

Ram
Shyam

In [31]:
info = {'Ram': 985665665, 'Shyam': 985662663}
for i in info.values():
    print(i)

985665665
985662663

In [33]:
info = {'Ram': 985665665, 'Shyam': 985662663}
for i in info.items():
    print(i)

('Ram', 985665665)
('Shyam', 985662663)

In [34]:
a = {'Ram': 985665665, 'Shyam': 985662663}
a["Ram"] = 986258659
print(a)

{'Ram': 986258659, 'Shyam': 985662663}

In [35]:
a = {'Ram': 985665665, 'Shyam': 985662663}
del a['Ram']
print(a)

{'Shyam': 985662663}

In [36]:
a = {'Ram': 985665665, 'Shyam': 985662663}
a.pop('Ram')                       # .pop() is used to delete the key values as well as moving the values 
print(a)

{'Shyam': 985662663}

In [37]:
a = {'Ram': 985665665, 'Shyam': 985662663}
b = a.pop('Ram')
print(b)

985665665

In [38]:
# list inside dictionary
a = {'Ram': [985665665,986522235], 'Shyam': [985662663,985236585]}
print(a)
print(type(a))
print(len(a))

{'Ram': [985665665, 986522235], 'Shyam': [985662663, 985236585]}
<class 'dict'>
2

In [39]:
a = {'Ram': [985665665,986522235], 'Shyam': [985662663,985236585]}
print(a['Ram'])

[985665665, 986522235]

In [40]:
a = {'Ram': [985665665,986522235], 'Shyam': [985662663,985236585]}
print(a['Ram'][0])

985665665

In [45]:
a = {'Ram': [985665665,986522235], 'Shyam': [985662663,985236585]}
name = input("Enter the name: ")
typ = int(input("Enter 0 for 'NTC' 1 for 'Ncell' "))
print("The info is",a[name][typ])

Enter the name: Ram
Enter 0 for 'NTC' 1 for 'Ncell' 1
The info is 986522235

In [46]:
a = {'Ram': [985665665,986522235], 'Shyam': [985662663,985236585]}
a['Ram'].append(6635859)
print(a)

{'Ram': [985665665, 986522235, 6635859], 'Shyam': [985662663, 985236585]}

In [48]:
a = {'Ram': [985665665, 986522235, 6635859], 'Shyam': [985662663, 985236585]}
del a['Ram'][2]
print(a)

{'Ram': [985665665, 986522235], 'Shyam': [985662663, 985236585]}

In [50]:
info = {}
n = int(input("Enter the value of n: "))
for i in range(n):
    name = input("Enter the name: ")
    ntc_phone = int(input("Enter the NTC phone no.: "))
    ncell_phone = int(input("Enter the NCELL phone no.: "))
    info[name] = [ntc_phone,ncell_phone]
print(info)

Enter the value of n: 2
Enter the name: Ram
Enter the NTC phone no.: 9852653595
Enter the NCELL phone no.: 9801235689
Enter the name: Shyam
Enter the NTC phone no.: 9865329856
Enter the NCELL phone no.: 9808259585
{'Ram': [9852653595, 9801235689], 'Shyam': [9865329856, 9808259585]}

In [51]:
# tuple inside dictionary
a = {'Ram': (9852653595, 9801235689), 'Shyam': (9865329856, 9808259585)}
print(a)

{'Ram': (9852653595, 9801235689), 'Shyam': (9865329856, 9808259585)}

In [52]:
info = {}
n = int(input("Enter the value of n: "))
for i in range(n):
    name = input("Enter the name: ")
    ntc_phone = int(input("Enter the NTC phone no.: "))
    ncell_phone = int(input("Enter the NCELL phone no.: "))
    info[name] = (ntc_phone,ncell_phone)
print(info)

Enter the value of n: 2
Enter the name: Ram
Enter the NTC phone no.: 98256565
Enter the NCELL phone no.: 9851515
Enter the name: Shyam
Enter the NTC phone no.: 9865565
Enter the NCELL phone no.: 9856565
{'Ram': (98256565, 9851515), 'Shyam': (9865565, 9856565)}

In [53]:
# dictionary inside dictionary
a = {"Ram":{"NTC":9856235689, "Ncell":9862585685},"Shyam":{"NTC":9856457812,"Ncell":9845786521}}
print(a)

{'Ram': {'NTC': 9856235689, 'Ncell': 9862585685}, 'Shyam': {'NTC': 9856457812, 'Ncell': 9845786521}}

In [54]:
a = {"Ram":{"NTC":9856235689, "Ncell":9862585685},"Shyam":{"NTC":9856457812,"Ncell":9845786521}}
print(a["Ram"])

{'NTC': 9856235689, 'Ncell': 9862585685}

In [55]:
a = {"Ram":{"NTC":9856235689, "Ncell":9862585685},"Shyam":{"NTC":9856457812,"Ncell":9845786521}}
print(a["Ram"]["NTC"])

9856235689

In [56]:
a = {"Ram":{"NTC":9856235689, "Ncell":9862585685},"Shyam":{"NTC":9856457812,"Ncell":9845786521}}
for i in a.items():
    print(i)

('Ram', {'NTC': 9856235689, 'Ncell': 9862585685})
('Shyam', {'NTC': 9856457812, 'Ncell': 9845786521})

In [58]:
a = {"Ram":{"NTC":9856235689, "Ncell":9862585685},"Shyam":{"NTC":9856457812,"Ncell":9845786521}}
for i in a:
    print(a[i])

{'NTC': 9856235689, 'Ncell': 9862585685}
{'NTC': 9856457812, 'Ncell': 9845786521}

In [59]:
info = {}
n = int(input("Enter the value of n: "))
for i in range(n):
    name = input("Enter the name: ")
    ntc_phone = int(input("Enter the NTC phone no.: "))
    ncell_phone = int(input("Enter the NCELL phone no.: "))
    info[name] = {"NTC":ntc_phone,"NCELL":ncell_phone}
print(info)

Enter the value of n: 2
Enter the name: Ram
Enter the NTC phone no.: 9823568945
Enter the NCELL phone no.: 9878456523
Enter the name: Shyam
Enter the NTC phone no.: 9823564
Enter the NCELL phone no.: 984521655
{'Ram': {'NTC': 9823568945, 'NCELL': 9878456523}, 'Shyam': {'NTC': 9823564, 'NCELL': 984521655}}