In [2]:
import pandas as pd
df = pd.read_csv('info.csv',index_col = "Name")
df.iloc[0:4,0:2]

        Age    Address
Name
Ram      25  Kathmandu
Shyam    32  Kathmandu
Gita     20       Bara
Nabina   45  Bhaktapur

In [3]:
import pandas as pd
df = pd.read_csv('info.csv',index_col = "Name")
df.iloc[0:4]

        Age    Address       Phone Blood
Name
Ram      25  Kathmandu  9856235689    A+
Shyam    32  Kathmandu  9856124578    B+
Gita     20       Bara  9845785623    B+
Nabina   45  Bhaktapur  9812234548    O-

In [5]:
import pandas as pd
df = pd.read_csv('info.csv',index_col = "Name")
df.loc["Shyam":"Tara"]

        Age    Address       Phone Blood
Name
Shyam    32  Kathmandu  9856124578    B+
Gita     20       Bara  9845785623    B+
Nabina   45  Bhaktapur  9812234548    O-
Tara     65    Pyuthan  9823127898   AB+

In [6]:
import pandas as pd
df = pd.read_csv('info.csv',index_col = 'Name')
df

        Age    Address       Phone Blood
Name
Ram      25  Kathmandu  9856235689    A+
Shyam    32  Kathmandu  9856124578    B+
Gita     20       Bara  9845785623    B+
Nabina   45  Bhaktapur  9812234548    O-
Tara     65    Pyuthan  9823127898   AB+
Uttam    18  Bhaktapur  9845657823   AB-

In [9]:
import pandas as pd
df = pd.read_csv('info.csv',index_col = 'Blood') #index_col value must be unique
df.loc["A+":"B+"]

KeyError: "Cannot get right slice bound for non-unique label: 'B+'"

In [12]:
import pandas as pd
df = pd.read_csv('info.csv',index_col = 'Name')
df

        Age    Address       Phone Blood
Name
Ram      25  Kathmandu  9856235689    A+
Shyam    32  Kathmandu  9856124578    B+
Nabina   45  Bhaktapur  9812234548    O-
Tara     65    Pyuthan  9823127898   AB+
Uttam    18  Bhaktapur  9845657823   AB-
Gita     20       Bara  9845785623    B+

In [13]:
import pandas as pd
df = pd.read_csv('info.csv',index_col = 'Name')
df['Blood'] == 'B+'

Name
Ram       False
Shyam      True
Nabina    False
Tara      False
Uttam     False
Gita       True
Name: Blood, dtype: bool

In [14]:
import pandas as pd
df = pd.read_csv('info.csv',index_col = 'Name')
df[df['Blood'] == 'B+']

       Age    Address       Phone Blood
Name
Shyam   32  Kathmandu  9856124578    B+
Gita    20       Bara  9845785623    B+

In [15]:
import pandas as pd
df = pd.read_csv('info.csv',index_col = 'Name')
df[df['Age'] >50]

      Age  Address       Phone Blood
Name
Tara   65  Pyuthan  9823127898   AB+

In [17]:
import pandas as pd
a = {'Ram': [985665665,986522235], 'Shyam': [985662663,985236585]}
df = pd.DataFrame(a)
df

         Ram      Shyam
0  985665665  985662663
1  986522235  985236585

In [19]:
import pandas as pd
a = {'Ram': [985665665,986522235], 'Shyam': [985662663,985236585]}
df = pd.DataFrame(a)
df.to_csv("new_data.csv")
df

         Ram      Shyam
0  985665665  985662663
1  986522235  985236585

In [22]:
import pandas as pd
df = pd.read_csv('new_data.csv',index_col = 'SN')
df

          Ram      Shyam
SN
0   985665665  985662663
1   986522235  985236585

In [24]:
# for adding or appending data in list in csv file
import csv
fields = [2,9862457812,9801030709]
with open("new_data.csv",'a') as f:
    x = csv.writer(f)
    x.writerow(fields)

In [25]:
# for list inside list in csv file
import csv
a = [["Name","Age","Address"],["Ram",67,"Kathmandu"],["Shyam",56,"Bara"],["Hari",34,"Lalitpur"]]
with open('list.csv','a') as f:
    x = csv.writer(f)
    for i in a:
        x.writerow(i)

In [29]:
# for dictionary inside list in csv file
import csv 
csv_columns = ["Name",'Age','Address']
dicts = [{"Name":"Ram","Age":23,'Address':'Kathmandu'},
         {"Name":"Shyam","Age":33,'Address':'Patan'}]
try:
    with open("data.csv",'w') as csvfile:
        writer = csv.DictWriter(csvfile, fieldnames=csv_columns)
        writer.writeheader()
        for data in dicts:
            writer.writerow(data)
except IOError:
    print("I/O Error")

In [32]:
import csv
with open('data.csv') as csvfile:
    reader = csv.DictReader(csvfile)
    for row in reader:
        print(row['Name'])

Ram
Shyam

In [33]:
import csv
with open('data.csv') as csvfile:
    reader = csv.DictReader(csvfile)
    for row in reader:
        print(row)

{'Name': 'Ram', 'Age': '23', 'Address': 'Kathmandu'}
{'Name': 'Shyam', 'Age': '33', 'Address': 'Patan'}

In [34]:
import pandas as pd
df = pd.read_csv('info.csv',index_col = 'Name')
df.drop(["Ram","Uttam","Gita"])  #dropping data from dataframe

        Age    Address       Phone Blood
Name
Shyam    32  Kathmandu  9856124578    B+
Nabina   45  Bhaktapur  9812234548    O-
Tara     65    Pyuthan  9823127898   AB+

In [35]:
import pandas as pd
df = pd.read_csv('info.csv',index_col = 'Name')
df

        Age    Address       Phone Blood
Name
Ram      25  Kathmandu  9856235689    A+
Shyam    32  Kathmandu  9856124578    B+
Nabina   45  Bhaktapur  9812234548    O-
Tara     65    Pyuthan  9823127898   AB+
Uttam    18  Bhaktapur  9845657823   AB-
Gita     20       Bara  9845785623    B+

In [36]:
import pandas as pd
df = pd.read_csv('info.csv',index_col = 'Name')
df1 = df.drop(["Ram","Uttam","Gita"]) 
df1.to_csv('info.csv')