In [1]:
# continue statement

In [2]:
a = "Python"
for i in a:
    if i == "o":
        break
    print(i)

P
y
t
h

In [3]:
a = "Python"
for i in a:
    if i == "o":
        continue
    print(i)

P
y
t
h
n

In [4]:
for i in range(1,11):
    if i%2 == 0:
        continue
    print(i)

1
3
5
7
9

In [5]:
for i in range(1,11):
    if i%2 != 0:
        continue
    print(i)

2
4
6
8
10

In [6]:
for i in range(1,51):
    if i%5 != 0:
        continue
    print(i)

5
10
15
20
25
30
35
40
45
50

In [8]:
for i in range(1,22):
    if i%5 != 0:
        print(i)
        continue

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19
21

In [14]:
a = ["Apple","Ball","Cat","Dog","Fish", "Dog","Egg"]
for i in a:
    if  i == "Dog":
        continue
    print(i)

Apple
Ball
Cat
Fish
Egg

In [13]:
a = ["Apple","Ball","Cat","Dog","Fish", "Dog"]
for i in a:
    if  i == "Dog":
        break
    print(i)

Apple
Ball
Cat

In [15]:
a = ["Apple","Ball","Cat","Dog","Fish", "Dog"]
for i in a:
    if  i == "Dog":
        print(i)
        break

Dog

In [16]:
# pass

In [18]:
def cal():
    pass

cal()

In [19]:
a = 10
b = 12
if a<b:
    pass #null operation return basically for documentation

In [20]:
for i in range(1,11):
    if i%5 != 0:
        pass
    print(i)

1
2
3
4
5
6
7
8
9
10

In [21]:
# Nested loop
# --Nested_for

In [22]:
for i in range(1,5):
    for j in range(1,5):
        print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

In [23]:
for i in range(1,5):
    for j in range(1,5):
        print(i,"Hello World")

1 Hello World
1 Hello World
1 Hello World
1 Hello World
2 Hello World
2 Hello World
2 Hello World
2 Hello World
3 Hello World
3 Hello World
3 Hello World
3 Hello World
4 Hello World
4 Hello World
4 Hello World
4 Hello World

In [1]:
for i in range(1,5):
    for j in range(1,2):
        x = int(input("x= "))

x= 1
x= 2
x= 3
x= 4

In [2]:
for i in range(1,5):
    for j in range(1,5):
        if j == 1:
            continue
        print(i,j)

1 2
1 3
1 4
2 2
2 3
2 4
3 2
3 3
3 4
4 2
4 3
4 4

In [13]:
for i in range(1,5):
    if i == 4:
        continue
    else:
        for j in range(1,5):
            print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4

In [14]:
for i in range(1,5):
    if i != 4:
        continue
    else:
        for j in range(1,5):
            print(i,j)

4 1
4 2
4 3
4 4

In [15]:
for i in range(1,5):
    if i != 4:
        for j in range(1,5):
            print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4

In [16]:
for i in range(1,5):
    for j in range(1,5):
        if j == 1:
            print(i,j)

1 1
2 1
3 1
4 1

In [17]:
for i in range(2,3):
    for j in range(1,11):
            print(i*j)

2
4
6
8
10
12
14
16
18
20

In [33]:
for i in range(2,5):
    for j in range(1,11):
        print(i*j,end=" ")
    print("\n")

2 4 6 8 10 12 14 16 18 20

3 6 9 12 15 18 21 24 27 30

4 8 12 16 20 24 28 32 36 40

In [32]:
a = 1
b = " "
for i in range(6,0,-1):
    print(i*b,"*"*a + "*"*(a-1))
    a+=1

       *
      ***
     *****
    *******
   *********
  ***********