In [ ]:
# index remove del

In [2]:
a = ['apple', 'ball','cat', 'dog']
a.index('cat')

2

In [3]:
a = ['apple', 'ball','cat', 'dog']
a.remove('apple')
print(a)

['ball', 'cat', 'dog']

In [6]:
a = ['apple', 'ball','cat', 'dog']
del a[2]
print(a)

['apple', 'ball', 'dog']

In [7]:
a = ['apple', 'ball','cat', 'dog']
del a                                 #deleting keyword is powerful keyword as it can delete whole list
print(a)

NameError: name 'a' is not defined

In [8]:
a = ['apple', 'ball','cat', 'dog']
a.clear()                         #clear all the elements of the list (but list remain empty)
print(a)

[]

In [9]:
a = ['apple', 'ball','cat', 'dog', 'apple']
a.remove('apple')               # .remove can delete element one in once
print(a)

['ball', 'cat', 'dog', 'apple']

In [13]:
a = ['apple', 'ball','cat', 'dog', 'apple','apple']
n = a.count("apple")
for i in range(n):
    a.remove('apple')
print(a)

['ball', 'cat', 'dog']

In [14]:
a = ['apple', 'ball','cat', 'dog', 'apple','apple']
n = a.count("apple")
for i in range(n-1):             # to delete the duplicate and remain only one element in the list
    a.remove('apple')
print(a)

['ball', 'cat', 'dog', 'apple']

In [15]:
a = ['apple', 'ball','cat', 'dog', 'apple','apple']
del a[0]
print(a)

['ball', 'cat', 'dog', 'apple', 'apple']

In [17]:
a = ['apple', 'ball','cat', 'dog', 'apple','apple']
del a[:3]
print(a)

['dog', 'apple', 'apple']

In [19]:
a = ['apple', 'ball','cat', 'dog', 'apple','apple']
# n = a.count("apple")
for i in range(len(a)):              #never use len(a) to remove the value as there is range error
    a.remove('apple')
    print(a)

['ball', 'cat', 'dog', 'apple', 'apple']
['ball', 'cat', 'dog', 'apple']
['ball', 'cat', 'dog']

ValueError: list.remove(x): x not in list

In [20]:
a = ['apple', 'ball','cat', 'dog', 'apple','apple']
a.index("apple")            # never use indexing while there is dubplicate value in the list

0

In [21]:
# one of the important loop or program in list 

a = ['apple', 'ball','cat', 'dog', 'apple','apple']
x = input("Enter the value for search: ")
for i in range(len(a)):
    if a[i] == x:
        print(i)

Enter the value for search: apple
0
4
5

In [ ]:
a = ['apple', 'ball','cat', 'dog', 'apple','apple']
del a[0]

In [22]:
a = ['apple', 'ball','cat', 'dog', 'apple','apple']
x = input("Enter the value for search: ")
ind = []
for i in range(len(a)):
    if a[i] == x:
        ind.append(i)
print(ind)

Enter the value for search: apple
[0, 4, 5]

In [23]:
s=""
n = int(input("Enter how many rows = "))
for i in range(n):
    name = input("Enter the name: ")
    phone = int(input("Enter the phone no.: "))
    info = f"{name}-----{phone}\n"
    s = s+info
print("The info are \n",s)

Enter how many rows = 2
Enter the name: ram
Enter the phone no.: 9868596535
Enter the name: shyam
Enter the phone no.: 9863528595
The info are
 ram-----9868596535
shyam-----9863528595

In [24]:
s.split('\n')

['ram-----9868596535', 'shyam-----9863528595', '']

In [25]:
my_data = s.split('\n')
print(my_data[0:-1])

['ram-----9868596535', 'shyam-----9863528595']

In [26]:
my_data[1]

'shyam-----9863528595'

In [27]:
a = "Apple Ball"
a.split()           # .split() funciton is use to convert string into list

['Apple', 'Ball']

In [28]:
a = "Apple Ball"
a.split('.')

['Apple Ball']

In [29]:
my_data[1].split("-----")

['shyam', '9863528595']

In [30]:
z = []
my_data = s.split('\n')
updated_my_data = my_data[:-1]

for i in range(len(updated_my_data)):
    final_value = updated_my_data[i].split("-----")
    z.append(final_value)
print(z)

[['ram', '9868596535'], ['shyam', '9863528595']]

In [31]:
s=""
n = int(input("Enter how many rows = "))
for i in range(n):
    name = input("Enter the name: ")
    phone = int(input("Enter the phone no.: "))
    info = f"{name}-----{phone}\n"
    s = s+info
print("The info are \n",s)

z = []
my_data = s.split('\n')
updated_my_data = my_data[:-1]

for i in range(len(updated_my_data)):
    final_value = updated_my_data[i].split("-----")
    z.append(final_value)
print(z)

Enter how many rows = 2
Enter the name: ram
Enter the phone no.: 9842526895
Enter the name: shyam
Enter the phone no.: 9843568595
The info are
 ram-----9842526895
shyam-----9843568595

[['ram', '9842526895'], ['shyam', '9843568595']]