In [2]:
def laptop():
    HP = 90000
    ASUS = 85000
    Dell = 75000
    Lenovo = 65000
    return HP,ASUS,Dell,Lenovo


s = []
n = int(input("Enter the no. of items buys: "))
for i in range(n):
    item = input("Enter the items buys: ")
    num = int(input("Enter the no. of items: "))
    HP,ASUS,Dell,Lenovo = laptop()
    t = num * item
    s.append(t)
print(s)

# s = []
# n = int(input("Enter the no. of items: "))

Enter the no. of items buys: 2
Enter the items buys: HP
Enter the no. of items: 5
Enter the items buys: Dell
Enter the no. of items: 6
[(90000, 85000, 75000, 65000, 90000, 85000, 75000, 65000, 90000, 85000, 75000, 65000, 90000, 85000, 75000, 65000, 90000, 85000, 75000, 65000), (90000, 85000, 75000, 65000, 90000, 85000, 75000, 65000, 90000, 85000, 75000, 65000, 90000, 85000, 75000, 65000, 90000, 85000, 75000, 65000, 90000, 85000, 75000, 65000)]

In [4]:
def fun():
    dell = 1500
    HP = 6500
    return dell
    return HP

s = []
n = int(input("Enter: "))
for i in range(n):
    name = input("Enter name: ")
    num = int(input("Enter num: "))
    name = fun()
    total = name * num
    s.append(total)
print(s)

Enter: 1
Enter name: HP
Enter num: 5
[7500]

In [9]:
def laptop():
    HP = 90000
    ASUS = 85000
    Dell = 75000
    Lenovo = 65000
    return HP
    return ASUS
    return Dell
    return Lenovo

s = []
n = int(input("Enter the no. of items buys: "))
for i in range(n):
    item = input("Enter the items buys: ")
    num = int(input("Enter the no. of items: "))
    item = laptop()
    t = num * item
    s.append(t)
print(s)

# s = []
# n = int(input("Enter the no. of items: "))

Enter the no. of items buys: 2
Enter the items buys: Lenovo
Enter the no. of items: 5
Enter the items buys: Dell
Enter the no. of items: 2
[450000, 180000]