In [2]:
a = ("apple",)
type(a)

tuple

In [3]:
a = ("apple",)
a*3

('apple', 'apple', 'apple')

In [6]:
a = ("Apple", "Ball", "Cat") 
a[2]

'Cat'

In [5]:
a = ("Apple", "Ball", "Cat") 
b = ("Fish",)
print(a+b)

('Apple', 'Ball', 'Cat', 'Fish')

In [9]:
def cal():
    l = 20
    b = 10
    return l,b
cal()

(20, 10)

In [10]:
a = ("Apple", "Ball", "Cat") 
a[0:2]

('Apple', 'Ball')

In [12]:
y = ()
n = int(input("Enter the value of n: "))
for i in range(n):
    x = int(input("Enter the vaue of x: "))
    y = y + (x,)                 # For adding only one value ',' must be written to concade
print(y)

Enter the value of n: 2
Enter the vaue of x: 1
Enter the vaue of x: 2
(1, 2)

In [13]:
a = ("Apple", "Ball", "Cat")
a[0] ="Ant"
print(a)

TypeError: 'tuple' object does not support item assignment

In [15]:
a = (324,45,65,85,95,50)
b = a[0:2]
c = ("python",)
d = a[2:]
print(b+c+d)

(324, 45, 'python', 65, 85, 95, 50)

In [17]:
y = ()
n = int(input("Enter the value of n: "))
for i in range(n):
    x = int(input("Enter the value of x: "))
    y += (x,)
print("The final data is:",y)
print("The maximum data is:", max(y))
print("The minimum data is:", min(y))
print("The sum data is:", sum(y))
print("The average value is:", sum(y)/n)

Enter the value of n: 3
Enter the value of x: 55
Enter the value of x: 64
Enter the value of x: 25
The final data is: (55, 64, 25)
The maximum data is: 64
The minimum data is: 25
The sum data is: 144
The average value is: 48.0

In [19]:
a = (12,65,85,95,35)
sorted(a)
print(sorted(a))
print(a)

[12, 35, 65, 85, 95]
(12, 65, 85, 95, 35)

In [20]:
a = ("Apple", "Ball","Cat")
for i in a:
    print(i)

Apple
Ball
Cat

In [21]:
a = ("Apple", "Ball","Cat")
for i in range(len(a)):
    print(a[i])

Apple
Ball
Cat

In [22]:
a = ("Apple", "Ball","Cat")
if "Apple" in a:
    print("Yes", a.count("Apple"))

Yes 1

In [1]:
a = ('Apple', 'Cat', 'NUM', 'Zebra', 'ball')
search = input("Enter the value of search: ").lower()
for i in range(len(a)):
    if search in a[i].lower():
        print("yes")
        break

Enter the value of search: cat
yes

In [2]:
a = ('Apple', 'Cat', 'NUM', 'Zebra', 'ball')
del a
print(a)

NameError: name 'a' is not defined

In [4]:
a = ('apple', 'ball','cat', 'dog', 'apple','apple')
x = input("Enter the value for search: ")
for i in range(len(a)):
    if a[i] == x:
        print(i)

Enter the value for search: apple
0
4
5

In [5]:
a = ('apple', 'ball','cat', 'dog', 'apple','apple')
a.index("cat")

2

In [7]:
a = ('apple', 'ball','cat', 'dog', 'apple','apple')
b = list(a)
print(b)

['apple', 'ball', 'cat', 'dog', 'apple', 'apple']

In [8]:
a = ('apple', 'ball','cat', 'dog', 'apple','apple')
b = list(a)
b.remove('ball')
a = tuple(b)
print(a)

('apple', 'cat', 'dog', 'apple', 'apple')

In [9]:
a = ('apple', 'ball','cat', 'dog', 'apple','apple')
b = list(a)
b[1] = "bat"
a = tuple(b)
print(a)

('apple', 'bat', 'cat', 'dog', 'apple', 'apple')

In [10]:
a = "Python"
print(tuple(a))
print(list(a))

('P', 'y', 't', 'h', 'o', 'n')
['P', 'y', 't', 'h', 'o', 'n']

In [12]:
a = "Python"
b = (a,)
print(b)

('Python',)

In [16]:
a = "Python"
b = tuple(a)
a = str(b)
print(a)

('P', 'y', 't', 'h', 'o', 'n')

In [19]:
# tuple inside tuple
a = ((),(),())
print(type(a))
print(len(a))

<class 'tuple'>
3

In [20]:
a = ((1,2,3),(4,5,6),(7,8,9))
print(type(a))
print(len(a))

<class 'tuple'>
3

In [22]:
a = ()
n = int(input("Enter the value of n: "))
for i in range(1,n+1):
    name = input("Enter the name: ")
    phone = int(input("Enter the phone no.: "))
    info = (i,name,phone)
    a += (info,)
print(a)

Enter the value of n: 2
Enter the name: Ram
Enter the phone no.: 899654454
Enter the name: Shyam
Enter the phone no.: 55646886
((1, 'Ram', 899654454), (2, 'Shyam', 55646886))

In [23]:
# list inside tuple
a = ([1,2,3],[4,5,6],[7,8,9])
print(a)
print(type(a))

([1, 2, 3], [4, 5, 6], [7, 8, 9])
<class 'tuple'>

In [24]:
a = ([1,2,3],[4,5,6],[7,8,9])
print(a[0])

[1, 2, 3]

In [25]:
a = ([1,2,3],[4,5,6],[7,8,9])
a[0].append(9)
print(a)

([1, 2, 3, 9], [4, 5, 6], [7, 8, 9])

In [28]:
a = ([1, 2, 3, 9], [4, 5, 6], [7, 8, 9])
del a[0][3]
print(a)

([1, 2, 3], [4, 5, 6], [7, 8, 9])

In [29]:
a = ([1, 2, 3, 9], [4, 5, 6], [7, 8, 9])
a[0] = [1,2,3,4]
print(a)

TypeError: 'tuple' object does not support item assignment

In [30]:
a = ([1, 2, 3, 9], [4, 5, 6], [7, 8, 9])
a[0][2] = 33
print(a)

([1, 2, 33, 9], [4, 5, 6], [7, 8, 9])

In [33]:
# tuple inside list
a = [(1,2,3),(4,5,6),(7,8,9)]
a[0] = [1,2,3]
a

[[1, 2, 3], (4, 5, 6), (7, 8, 9)]

In [34]:
# tuple inside list
a = [(1,2,3),(4,5,6),(7,8,9)]
a[0] = (1,2,33)
a

[(1, 2, 33), (4, 5, 6), (7, 8, 9)]

In [35]:
a = [(1,2,3),(4,5,6),(7,8,9)]
a.append((10,11,12))
print(a)

[(1, 2, 3), (4, 5, 6), (7, 8, 9), (10, 11, 12)]

In [39]:
a = [(1, 2, 3), (4, 5, 6), (7, 8, 9), (10, 11, 12)]
del a[3]
print(a)

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [ ]:
#WAP to change tuple inside tuple into list inside list and vice versa.