In [ ]:
# lambda function
lambda <aruguments>:<expression>

In [3]:
x = lambda a:a**2
print(x(3))

9

In [4]:
def cal(a):
    return a**2
cal(3)

9

In [5]:
x = lambda a,b:(a**2+2*a*b+b**2)
print(x(3,4))

49

In [11]:
x = lambda l,b:l*b
l = int(input("Enter the value of l: "))
b = int(input("Enter the value of b: "))
print("The area is",x(l,b))

Enter the value of l: 25
Enter the value of b: 17
The area is 425

In [12]:
# Filter Function
lists = [1,2,3,4,10,123,22]
div = list(filter(lambda x:(x%3==0),lists))
even = list(filter(lambda x:(x%2==0),lists))
print(div)
print(even)

[3, 123]
[2, 4, 10, 22]

In [13]:
tuple(filter(lambda x:x%3==0,lists))

(3, 123)

In [16]:
a = ["Apple","Ball","Cat","Apple"]
tuple(filter(lambda x:(x=="Apple"),a))

('Apple', 'Apple')

In [17]:
a = ["Apple","Ball","Cat","Apple"]
tuple(filter(lambda x:(x!="Apple"),a))

('Ball', 'Cat')

In [20]:
a = ["Apple","Ball","cat","Apple"]
tuple(filter(lambda x:(x[0].islower()),a))

('cat',)

In [21]:
a = ["Apple","Ball","cat","Apple"]
tuple(filter(lambda x:(x[0].isupper()),a))

('Apple', 'Ball', 'Apple')

In [ ]:
# Map Function
# SYNTAX
# map(<lambda_function>,list)     or <lambda_(operations)>

In [22]:
lists = [1,2,3,4,10,123,22]
new_list = list(map(lambda x:x**3,lists))
print(new_list)

[1, 8, 27, 64, 1000, 1860867, 10648]

In [23]:
lists = [1,2,3,4,5,6,7,8,9,10]
new_list = list(map(lambda x:x*5,lists))
print(new_list)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [29]:
lists = [1,2,3,4,5,6,7,8,9,10]
new_list = list(map(lambda x:x+5,lists))
print(new_list)

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [28]:
lists = [1,2,3,4,5,6,7,8,9,10]
new_list = lambda x:x*2
new_list(lists)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Reduce Function
# SYNTAX
# reduce(<operation_function>,list)

In [31]:
from functools import reduce
lists = [5,5,6,9,3,4,8,8,3]
sum = reduce((lambda x,y:x+y),lists)
print(sum)

51

In [32]:
fun = lambda x,y:x if(x>y) else y
reduce(fun,[12,43,32,67,98,23,34])

98

In [40]:
t = []
a = {1:{"Name":"Ram","Total":100}, 2:{"Name":"Shyam","Total":200}}
for i in a.values():
    t.append(i['Total'])
print(max(t))

200

In [47]:
t = []
a = {1:{"Name":"Ram","Total":100}, 2:{"Name":"Shyam","Total":200}}
for i in a.items():
    t.append(i[1]['Total'])
i = t.index(max(t))
print(a[i+1])

{'Name': 'Shyam', 'Total': 200}

In [59]:
t = []
s = []
a = {"a":{"Name":"Ram","Total":400}, "b":{"Name":"Shyam","Total":200}}
for i in a.items():
    t.append(i[1]['Total'])
    s.append(i[0])

x = max(t)
y = t.index(x)
z = s[y]
print(a[z])

{'Name': 'Ram', 'Total': 400}

In [ ]:
#WAP on finding the greatest value in list inside list