In [1]:
a = "Apple"
print(type(a))

<class 'str'>

In [2]:
a = "Apple"
type(a)

str

In [3]:
a[0]

'A'

In [4]:
a[-1]

'e'

In [5]:
a[0:5]

'Apple'

In [7]:
a[0:5:2] #range(0,5,2)

'Ape'

In [8]:
a = "Python"
a[5:0:-1]

'nohty'

In [9]:
a = "Python"
a[5::-1]

'nohtyP'

In [10]:
# Slicing the string value
# [:]   starting to end
# [0:]  from 0 to end
# [:n]  from start to 'n'

In [11]:
a = "Apple"
b = "Ball"
print(a+b)

AppleBall

In [12]:
a = input("Enter the value of a= ")
b = input("Enter the value of b= ")
print(a+b)

Enter the value of a= 10
Enter the value of b= 20
1020

In [13]:
a = "10"
b = 20
print(a+str(b))

1020

In [2]:
name = input("Enter the name: ")
age = int(input("Enter the age: "))
add = input("Enter the address: ")
info = "Hello!!! My name is "+name+" I am "+str(age) +" I am  from "+add
print(info)

Enter the name: Ram
Enter the age: 29
Enter the address: Kathamandu
Hello!!! My name is Ram I am 29 I am  from Kathamandu

In [3]:
# String Formatting
name = input("Enter the name: ")
age = int(input("Enter the age: "))
add = input("Enter the address: ")
info = f"Hello!!! My name is {name} I am {age} I am  from {add}"
print(info)

Enter the name: Ram
Enter the age: 29
Enter the address: Kathamandu
Hello!!! My name is Ram I am 29 I am  from Kathamandu

In [2]:
s=""
n = int(input("Enter how many rows = "))
for i in range(n):
    name = input("Enter the name: ")
    phone = int(input("Enter the phone no.: "))
    info = f"{name}-----{phone}\n"
    s = s+info
print("The info are \n",s)

Enter how many rows = 2
Enter the name: ram
Enter the phone no.: 9865656
Enter the name: shyam
Enter the phone no.: 556645
The info are
 ram-----9865656
shyam-----556645

In [5]:
if "ram" in s:
    print("Yes",s.count("ram"))
else:
    print("No")

Yes 1

In [8]:
name = input("Enter name: ")
if "ram" in s:
    print("Yes",s.count("ram"))
else:
    print("No")

Enter name: m
Yes 1

In [9]:
a = "Apple"
a.upper()          #making string value in upper case

'APPLE'

In [10]:
a = "Apple"
a.lower()          #makeing string value in lower case

'apple'

In [3]:
name = input("Enter name: ").upper()
if name in s.upper():
    print("Yes",s.count("RAM"))
else:
    print("No")

Enter name: raa

NameError: name 's' is not defined

In [4]:
a = "Pythton C++ Java"
b = a.replace("Java","C")    #replacing the string value
print(b)

Pythton C++ C

In [ ]:
#Entry
s=""
n = int(input("Enter how many rows = "))
for i in range(n):
    name = input("Enter the name: ")
    phone = int(input("Enter the phone no.: "))
    info = f"{name}-----{phone}\n"
    s = s+info
print("The info are \n",s)

x = input("Enter 1 for search 2 for Replace= ")
if x =='1':
    #Search
    name = input("Enter name: ").lower()
    if name in s.lower():
        print("Yes",s.count(name))
    else:
        print("No")
elif x=='2':    
    #Replace
    data = input("Enter the data= ")
    replace = input("Enter the replace data= ")
    final_data = s.replace(data, replace)
    print(final_data)

In [4]:
a = "Ram - 98131313213\nShyam - 984656513"
print(a)

Ram - 98131313213
Shyam - 984656513

In [5]:
b = a.replace("213", "214")    #a.replace("Ram - 98131313213","Ram - 98131313214")
print(b)

Ram - 98131313214
Shyam - 984656513

In [6]:
a = ["Ram - 98131313213","Shyam - 984656513"]
a[0] = "Ram - 98131313214"
a

['Ram - 98131313214', 'Shyam - 984656513']

In [7]:
info = "1-Ram\n2-Shyam"
print(info)

1-Ram
2-Shyam

In [8]:
a = info.replace("2-Shyam","")
print(a)

1-Ram

In [10]:
print(info)

1-Ram
2-Shyam

In [ ]:
# WAP to entry multiple student result (entry, result, search,update)