In [ ]:
# list
# -multiple values accept
# -mutuable data type
# -indexing
# -ordered
# -duplicate members

In [2]:
a = ['Apple','Ball','Cat','Dog']
print(a)
print(type(a))
print(len(a))

['Apple', 'Ball', 'Cat', 'Dog']
<class 'list'>
4

In [3]:
a = "Apple"
len(a)

5

In [6]:
a = ['Apple','Ball','Cat','Dog',]
print(a[0])
print(a[-1])

Apple
Dog

In [7]:
a = ['Apple','Ball','Cat','Dog',1,2,3]
print(a[-1])

3

In [8]:
a = ['Apple','Ball','Cat','Dog',1,2,3]
print(a[0:5])

['Apple', 'Ball', 'Cat', 'Dog', 1]

In [9]:
a = ['Apple','Ball','Cat','Dog',1,2,3]
print(a[0:7:2])       #print(a[0::2])

['Apple', 'Cat', 1, 3]

In [ ]:
a = ['Apple','Ball','Cat','Dog',1,2,3]
print(a[0:7:2])

In [10]:
a = ['Apple','Ball','Cat','Dog',1,2,3]
print(a[6::-1])

[3, 2, 1, 'Dog', 'Cat', 'Ball', 'Apple']

In [13]:
a = ["Apple","Ball"]
b = ["Cat", "Dog"]
print(a+b)
print(b+a)

['Apple', 'Ball', 'Cat', 'Dog']
['Cat', 'Dog', 'Apple', 'Ball']

In [14]:
a = ["Apple", "Apple"]
b = ["Apple","Ball"]*2
print(b)

['Apple', 'Ball', 'Apple', 'Ball']

In [16]:
a = [1,2,3,4]*2
print(a)

[1, 2, 3, 4, 1, 2, 3, 4]

In [18]:
a = ['Apple', 'Ball'] + [2]
print(a)

['Apple', 'Ball', 2]

In [19]:
# mutable data type examples
a = ['Apple', 'Ball', 'Cat']
a[0] = "Ant"
print(a)

['Ant', 'Ball', 'Cat']

In [21]:
y = []
n = int(input("Enter the value of n: "))
for i in range(n):
    x = int(input("Enter the value of x: "))
    y.append(x)
print(y)

Enter the value of n: 5
Enter the value of x: 565
Enter the value of x: 56
Enter the value of x: 23
Enter the value of x: 56
Enter the value of x: 45
[565, 56, 23, 56, 45]

In [22]:
y = []
n = int(input("Enter the value of n: "))
for i in range(n):
    x = int(input("Enter the value of x: "))
    y.append(x)
    print(y)
print(y)

Enter the value of n: 3
Enter the value of x: 54
[54]
Enter the value of x: 45
[54, 45]
Enter the value of x: 45
[54, 45, 45]
[54, 45, 45]

In [23]:
y = []
n = int(input("Enter the value of n: "))
for i in range(n):
    x = int(input("Enter the value of x: "))
    y.append(x)
    print(y)
# print(y)

Enter the value of n: 5
Enter the value of x: 45
[45]
Enter the value of x: 12
[45, 12]
Enter the value of x: 56
[45, 12, 56]
Enter the value of x: 85
[45, 12, 56, 85]
Enter the value of x: 55
[45, 12, 56, 85, 55]

In [24]:
a = [45, 12, 56, 85, 55]
a.append(90)         # .append() =  adding value in list
print(a)

[45, 12, 56, 85, 55, 90]

In [25]:
a = [45, 12, 56, 85, 55, 90]
a.insert(3,99)            # .insert(index, inserting value)
print(a)

[45, 12, 56, 99, 85, 55, 90]

In [26]:
y = []
n = int(input("Enter the value of n: "))
for i in range(n):
    x = input("Enter the value of x: ")
    y.append(x)               # variable cannot be created in .append (list function)
print(y)

Enter the value of n: 5
Enter the value of x: Ram
Enter the value of x: Shyam
Enter the value of x: Hari
Enter the value of x: Krishna
Enter the value of x: Laxman
['Ram', 'Shyam', 'Hari', 'Krishna', 'Laxman']

In [27]:
y = []
n = int(input("Enter the value of n: "))
for i in range(n):
    x = input("Enter the value of x: ")
    y = y+[x]            # using fucntion to add the values in list
print(y)

Enter the value of n: 4
Enter the value of x: ram
Enter the value of x: haro
Enter the value of x: gita
Enter the value of x: sita
['ram', 'haro', 'gita', 'sita']

In [29]:
y = []
n = int(input("Enter the value of n: "))
for i in range(n):
    x = int(input("Enter the value of x: "))
    y.append(x)
print("The final data is:",y)
print("The maximum data is:", max(y))
print("The minimum data is:", min(y))
print("The sum data is:", sum(y))

Enter the value of n: 4
Enter the value of x: 465
Enter the value of x: 254
Enter the value of x: 685
Enter the value of x: 859
The final data is: [465, 254, 685, 859]
The maximum data is: 859
The minimum data is: 254
The sum data is: 2263

In [31]:
print("The average value is:", sum(y)/n)
print("The final value is:", y)
y.sort()                          #arranging the value for ascending order
print("The sorted value is:", y)

The average value is: 565.75
The final value is: [254, 465, 685, 859]
The sorted value is: [254, 465, 685, 859]

In [32]:
y.reverse()                       #arranging the value for descending order
print(y)

[859, 685, 465, 254]

In [34]:
a = ["NUM","Apple", "Zebra", "ball", "Cat"]
a.sort()
print(a)

['Apple', 'Cat', 'NUM', 'Zebra', 'ball']

In [35]:
for i in a:
    print(i)

Apple
Cat
NUM
Zebra
ball

In [37]:
for i in range(len(a)):
    print(i,a[i])

0 Apple
1 Cat
2 NUM
3 Zebra
4 ball

In [40]:
a = ['Apple', 'Cat', 'NUM', 'Zebra', 'ball']
if  "Apple" in a:
    print("Yes", a.count("Apple"))

Yes 1

In [41]:
a = ['Apple', 'Cat', 'NUM', 'Zebra', 'ball']
search = input("Enter the value of search: ")
if search in a:
    print("Yes", a.count(search))

Enter the value of search: Cat
Yes 1

In [45]:
a = ['Apple', 'Cat', 'NUM', 'Zebra', 'ball']
b = []
for i in a:
    j = i.lower()
    b.append(j)
print(b)

['apple', 'cat', 'num', 'zebra', 'ball']

In [50]:
a = ['Apple', 'Cat', 'NUM', 'Zebra', 'ball', 'Apple']
search = input("Enter the value of search: ").lower()
for i in range(len(a)):
    if search in a[i].lower():
        print("Yes")

Enter the value of search: apple
Yes
Yes

In [56]:
a = ['Apple', 'Cat', 'NUM', 'Zebra', 'ball', 'Apple']
search = input("Enter the value of search: ").lower()
for i in range(len(a)):
    if search in a[i].lower():
        print("Yes")
        break

Enter the value of search: appl
Yes